{% extends 'index/painel.html' %}


<!-- Bloco que está contido em 'base.html' -->
{% block pageTitle %}
<p class="panel-title">
  Cadastrar Aula
</p>
{% endblock %} {% load static %}
<script>

</script>
<!-- Incluindo breadcrumb -->
{% block content %}
<style>
  .input {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 15px;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
  }

  .labelnome {
    color: #363636;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: center;
    white-space: nowrap;
  }
</style>
<!-- CADASTRO FORM -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form method="POST" action=>
      {% csrf_token %}
      <div class="field">
        <div class="field">
          <label class="labelnome">Data da aula</label>
          <div class="control">
            {{form.dia}}
          </div>
        </div>
        <div class="field">
          <label class="labelnome">Horario</label>
          <div class="control">
            {{form.horario}}
          </div>
        </div>
        <div class="field">
          <label class="labelnome">Duração</label>
          <div class="control">
            <div class="select">
              {{form.duracao}}
            </div>
          </div>
        </div>

        <label class="labelnome">Disciplina</label>
        <div class="row">
          <div class="col-md-9">
            <div class="">
              {{form.disciplina}}
            </div>
          </div>
        </div>

        <label class="labelnome">Conteudo</label>
        <div class ="row">
          <div class="col-md-9">
              {{form.conteudo}}               
          </div>
        </div>
     
        <div class="field is-grouped">
          <p class="control" style="
          margin-top: 10px;">
            <button class="btn btn-primary" type="submit">
              Salvar
            </button>
          </p>
        </div>
    </form>
    </div>
  </div>

  <div class="modal-background"></div>

  <div id="modalCoordenador" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Cadastar Coordenador</h4>
        </div>
        {% csrf_token %}
        <div class="modal-body">
          <label class="labelnome" for="nome">Pessoas</label>
          <div class="content control">
            <div class="">
              <select name="coordenadores" class="input" tabindex="-1" id="coordenadores" aria-hidden="true">
                  <option value="" selected="" data-select2-id="2">---------</option>
                  {% for pessoa in pessoas_nao_coordenadoras %}
                    <option value="{{ pessoa.pessoa__id }}"> {{ pessoa.pessoa__nome }} </option>             
                  {% endfor %}
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="submitCoordenador" data-dismiss="modal">salvar</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modalUnidade" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Cadastar unidade</h4>
        </div>
        {% csrf_token %}
        <div class="modal-body">
          <label class="labelnome" for="nome">Nome</label>
          <div class="content control">
            {{ unidade_form.nome }}
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="submitUnidade" data-dismiss="modal">salvar</button>
          
        </div>
      </div>
    </div>
  </div>




  {% endblock %} {% block scripts %} {% load static %}
  <script src="{% static 'js/cadastros.js' %}"></script>
  <script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
      $('#id_coordenador').select2();
      $('#id_unidade').select2();
    });

    $('#submitUnidade').click(function () {
      let url = '/unidades/cadastro/';
      let nome = $('.modal-body #id_nome').val();
      let data = { 'nome': nome };

      cadastrar(url, data, '#id_unidade');
    });

    $('#submitCoordenador').click(function () {
      let id = $('#coordenadores').val();
      let url = '/coordenadores/' + id + '/cadastro/';

      cadastrar(url, id, '#id_coordenador');
    });
  </script> 
  
  {% endblock %}
  